.Flip {
    background-color: #2a519e;
    height: 10vh;
    width: 10vh;
    /*border-radius: 40%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: 5s color cubic-bezier(0,1.15,1,.6), .25s transform cubic-bezier(.98,1.28,1,.68);

  }

  .Flip:hover {
    transform: rotate(180deg); 
    color: rgb(243, 0, 0);    /* translate(0px, 20px);*/
  }

  .gwrap{
    display: flex;
    flex-wrap: wrap; 
    background-color: #2a519e; 
  }